.faq-question .button {
  font-size: 18px;
  border: none;
  padding: 0.5em 0.4em;
  color: rgb(199, 179, 119);
  font-size: 1.2em;
}

.faq-question .button::before {
  content: "▸";
  display: inline-block;
  margin-right: 0.5em;
  transition: transform 0.4s;
}

.faq-question.expanded .button::before {
  transform: rotateZ(90deg);
}

.faq-answer {
  overflow: hidden;
  height: 0;
  margin-left: 0.75em;
  padding-left: 1em;
  border-left: 1px solid rgb(199, 179, 119);
}

.faq-answer.expanded {
  height: auto;
  padding-bottom: 0.5em;
}

.faq-answer > :first-child {
  margin-top: 0;
}
.faq-answer > :last-child {
  margin-bottom: 0;
}
