.faq-question {
  font-size: 1.2em;
  border-bottom: 1px solid #222;
}

.faq-answer {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #222;
  font-family: fantasy;
  font-weight: initial;
  letter-spacing: initial;
}
