.found {
  color: #6fb76f;
}
.found::after {
  content: " ✔";
}

.missing {
  color: #ff6f6f;
}
.missing::after {
  content: " ✘";
}

#grail-tracker {
  margin-top: 1em;
}

#grail-tracker th {
  text-align: left;
  font-weight: inherit;
}
#grail-tracker td {
  padding: 0 1em;
}
#grail-tracker td[colspan] {
  text-align: center;
  padding-top: 1em;
}
