#collection {
  width: 100%;
  border-collapse: collapse;
}

#collection thead th {
  padding-bottom: 0.4em;
}

#collection .item td {
  padding: 0 2em;
}

#collection tbody .item th,
#collection tbody .item th {
  padding-top: 0.3em;
}

#collection tr {
  border-bottom: 1px solid #222;
}

#collection tbody tr:hover td:not(:first-child) {
  color: #6fb76f;
}
