h1 {
  margin-top: 0;
}

.hidden {
  display: none;
}

.button {
  appearance: none;
  margin: 0;
  text-align: initial;
  cursor: pointer;
  box-shadow: none;
  padding: 0.4em 0.8em;
  border: 2px solid white;
  border-radius: 0;
  background: transparent;
  color: white;
  font-family: AvQuest, sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
}

.magic {
  color: rgb(105, 105, 255);
}
.rare {
  color: rgb(255, 255, 100);
}
.unique {
  color: rgb(199, 179, 119);
}
.set {
  color: rgb(0, 255, 0);
}
.crafted {
  color: rgb(255, 168, 0);
}
.socketed {
  color: rgb(120, 120, 120);
}
