#navigation {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  border-bottom: 1px solid #666;
}

a.nav-link {
  color: #aaa;
  text-decoration: none;
  margin: 0 1em;
  padding-bottom: 0.4em;
}

a.nav-link.active {
  color: white;
  border-bottom: 1px solid white;
  margin-bottom: -1px;
}
